<container>
    <div class="row">
        <div class="col-md-12">
            <center>
            <%= image_tag "noaccess.svg", width: '40%' %>
            <h1>Your sure this is your note?</h1>
            <p>You don't appear to have access to this note!</p>
            <%= link_to 'Back to your notes', root_path %>
            </center>
        </div>
    </div>
</container>