<center><h1>The simplest way to keep notes.</h1>
<h3>Light, clean, and free. Take notes without distractions.</h3>
<p id="chromewebstore"><br /><a href="https://chrome.google.com/webstore/detail/bpdcajdhpnfbfcghfhcpbenflomognie"><%= image_tag "ChromeWebStore.svg", width: '30%' %></a></p>
<br />
<hr>
<br />
<h3>What makes NoteMoe great?</h3>
<div class="clearfix"></div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-4">
        <h4>Use it Anywhere</h4>
        <p><%= image_tag "accessanywhere.svg", width: '20%' %></p>
        <p>Your notes stay updated across all your devices. No buttons to press. It just works.</p>
    </div>
    <div class="col-md-4">
        <h4>100% Secure</h4>
        <p><%= image_tag "100secure.svg", width: '20%' %></p>
        <p>Your notes are always secure and encrypted, only your login details get access to them.</p>
    </div>
    <div class="col-md-4">
        <h4>It's Free</h4>
        <p><%= image_tag "free.svg", width: '20%' %></p>
        <p>Create, store, edit, delete unlimited notes. — it’s all completely free.</p>
    </div>
</div></center>